<h1>Poem#new</h1>
<%= form_for @poem do |f| %>
  <% if @is_edit == "0" %>
    <%= f.hidden_field :user_id, :value => current_user.id %>
    <%= f.hidden_field :owner_id, :value => current_user.id %>
    <%= f.hidden_field :is_wait, :value => false %>
    <%= f.hidden_field :is_active, :value => true %>
    <%= f.hidden_field :is_selected, :value => false %>
    <p>title</p>
    <%= f.text_field :title %>
    <p>genre</p>
    <%= f.collection_select :genre_id, @genres, :id, :name %>
  <% else %>
    <%= f.hidden_field :user_id, :value => current_user.id %>
    <%= f.hidden_field :owner_id, :value => @old_poem.owner_id %>
    <%= f.hidden_field :is_wait, :value => false %>
    <%= f.hidden_field :is_active, :value => false %>
    <%= f.hidden_field :is_selected, :value => false %>
    <%= f.hidden_field :title, :value => @old_poem.title %>
    <%= f.hidden_field :genre_id, :value => @old_poem.genre_id %>
  <% end %>

  <p>content</p>
  <%= f.text_field :content %>
  <p>
  <%= f.submit %>
  </p>
<% end %>
