<h1>Poem#show</h1>

<%= form_tag('/', :method => :get) do %>
  <%= select_tag(:created_at, options_for_select(@versions, :selected => params[:created_at])) %>
  <%= submit_tag '表示', {:name => nil } %>
<% end %>

<p>Title:<%= @poem.title %></p>
<p>Content:<%= @poem.content %></p>
<p>owner:<%= @poem.owner_id %></p>
<p>genre:<%= @poem.genre.name unless @poem.genre.nil? %></p>
<input type="button" onclick="location.href='/poems/new?is_edit=1&poem_id=<%= @poem.id %>'"value="edit">
<p><% if @poem.user_id == @poem.owner_id then %>
<%= button_to "watch pull request", :action => "merge" %>
<% end %>
</p>
